const conf = {
	url: {
		catalog  : 'http://reg50.nixteam.ru/alko/catalog/',
		category : 'http://reg50.nixteam.ru/alko/catalog/category/',
		clients  : 'http://reg50.nixteam.ru/alko/client/',
		order    : 'http://reg50.nixteam.ru/alko/order/',
	}
}

export default conf