const conf = {
	url: {
		catalog  : 'http://localhost:9888/alko/catalog/',
		category : 'http://localhost:9888/alko/catalog/category/',
		cart     : 'http://localhost:9888/alko/cart/',
		order    : 'http://localhost:9888/alko/order/',
	}
}

export default conf