const conf = {
	url: {
		catalog  : 'http://localhost:9888/alko/catalog/',
		category : 'http://localhost:9888/alko/catalog/category/',
		cart     : 'http://localhost:9888/alko/cart/',
		order    : 'http://localhost:9888/alko/order/',
		client   : 'http://localhost:9888/alko/client/',
		// Путь к файлам
		file    :  'http://localhost:9887/',

	}
}

export default conf