textarea {
	height: 75px;
	resize: auto;
	margin-top: 5px;
}

p {
	margin: 10px 0;
	line-height: 20px;
}

.delete_wnd{
	display: none;
	width:  300px;
	padding:  20px;
}

.delete_wnd_hdr{
	font-size: 20px;
	font-family: "Ubuntu";
	text-align: center;
	padding: 10px;
	color: #000;
}

.btn {
	font-weight: normal;
}

.btn_delete_wnd_form{
	width: 230px;
	margin: 0 auto;
}

.btn_delete_wnd_ok{
	font-family: "proxima-nova" !important;
	cursor: pointer;
	vertical-align: top;
	font-weight: normal;
	font-size: 15px;
	line-height: 1;
	padding: 12px 17px 13px;
	background: #f44336;
	color: #fff;
	border: 0;
	outline: 0;
	border-radius: 20px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 100px;
	display: inline-block;
	text-align: center;
}

.btn_delete_wnd_cancel{
	font-family: "proxima-nova" !important;
	cursor: pointer;
	vertical-align: top;
	font-weight: normal;
	font-size: 15px;
	line-height: 1;
	padding: 12px 17px 13px;
	background: #03a9f4;
	color: #fff;
	border: 0;
	outline: 0;
	border-radius: 20px;
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 100px;
	display: inline-block;
	text-align: center;
	margin-left: 20px;
}

.btn--edit {
	background-color: transparent;
	color: #343434;
	border: 1px solid #d5d5d5;
	padding: 11px 17px 12px;
}

.btn--delete {
	background-color: transparent;
	color: #f44336;
	border: 1px solid #d5d5d5;
	padding: 11px 17px 12px;
}

.catalog__nav-sub li a {
	display: block;
	height: 52px;
	font-size: 15px;
	color: #343434;
	padding: 19px 10px 19px 0;
}

textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
	color: #78909c; }
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
.input:-ms-input-placeholder {
	color: #78909c; }
textarea:focus::-webkit-input-placeholder,
select:focus::-webkit-input-placeholder,
.input:focus::-webkit-input-placeholder {
	color: #78909c; }
textarea:focus:-ms-input-placeholder,
select:focus:-ms-input-placeholder,
.input:focus:-ms-input-placeholder {
	color: #78909c; }
textarea:focus::placeholder,
select:focus::placeholder,
.input:focus::placeholder {
	color: #78909c; }


.popup__product-form--holder_prop {
	padding: 10px;
	width: 180px;
	float: left;
	font-family: "Ubuntu";
}

.big_prop {
	width: 100%;
}

.clear {
	clear: both;
}

.product_prop_hdr {
	font-size: 25px;
	font-family: "Ubuntu";
	text-align: center;
}

.product_prop_value {
	font-size: 15px;
	font-family: "Ubuntu";
}

.catalog__nav-category {
	padding: 0px;
}

.catalog__nav-item .active {
	font-weight: bolder;
}

.catalog__nav-category a.active {
	color: #5e97e3;
}

.catalog__nav-category a.active::after {
	content: '>';
	font-size: 25px;
	font-family: "Idealist";
	position: absolute;
	top: 50%;
	right: 16px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
}

.popup__product-form--holder span{
	font-family: "Ubuntu";
}

.client_form {
	padding: 0 20px;
}

.client_holder{
	width: 350px;
	padding: 10px;
	float: left;
}

.router-link-exact-active.active{
	border-color: #5e97e3;
}

.b-catalog__table-doc {
	text-align: center;
}

.hidden_block {
	display: none !important;
}

.catalog__nav-item a {
	height: auto;
	cursor: pointer;
}

.catalog__products-name {
	padding-left: 12px;
}

.popup__hdr {
	line-height: normal;
	font-size: 20px;
	padding: 10px;
}


textarea.readonly,
textarea[readonly="readonly"],
textarea[readonly],
select.readonly,
select[readonly="readonly"],
select[readonly],
.input.readonly,
.input[readonly="readonly"],
.input[readonly] {
	background: rgba(180, 180, 180, 0.1);
}

.popup__category-form {
	padding: 0 30px;
}

.popup__category-form .input {
	margin-bottom: 0;
	margin-top: 5px;
}

.popup__product-form--holder_prop.holder-third {
	width: 33%;
}

.popup__product-form--holder_prop.holder-fourth {
	width: 25%;
}

.product_loader {
	width: 415px;
	margin: 0 auto;
}

.catalog__products-scroll {
	max-height: none;
}
.fixed-loader{
	position: fixed;
	left: 50%;
	top: 50%;
}

.text-no-category{
	font-family: "Ubuntu";
	font-size: 25px;
	position: fixed;
	left: 50%;
	top: 50%;
}

.prod_table{
	max-height: 500px !important;
	min-height: 500px  !important;
	overflow-y: auto;
}
.shop_table{
	max-height: 500px !important;
	overflow-y: auto;
}

.modal_btn{
	display: block;
	width: 140px;
	margin: 0 auto;
	margin-top: 20px;
}

.catalog__products-all {
	width: 100%;
}
.pagination{
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;

}
.page-item{
  float:left;
  margin-left: 5px;
  padding: 5px;
}
.page-item a {
  font-family: "Ubuntu";
  font-size: 20px;
}

.page-item.disabled a{
  cursor: default !important;
  color: #343434;
}

.page-item.active{
  background-color: #FFF;
}

.page-item.active a{
  cursor: default !important;
  color: #000;
  text-decoration: underline;
}

.page-item:first-child {
  margin-left: 0px;
}

.disable_search_icon{
	background-color: #9e9e9e !important;
}

/*VUE MODAL */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-container-select-shop {
  width: 450px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-container-merchant {
  width: 450px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  m
}

.modal-container-products {
  width: 802px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.modal-close img{
	width: 70px;
	height: 70px;
	position: fixed;
	right: 0px;
	top: 0px;
	cursor: pointer;
}

.modal__hdr {
    line-height: 30px;
    font-size: 20px;
    font-family: "Ubuntu";
    text-align: center;
    margin-bottom: 15px;
}
.modal_btn {
	display: block;
	width: 120px;
	margin:  0 auto;
}
.modal_btn_big_text {
	font-size: 14px;
    padding: 7px;
}

.btn_list {
	margin:  0 auto;
	width: 250px;
}

.btn_in_list {
	float: left;
	margin-left: 10px;
}
.btn_in_list:first-child {
	margin-left: 0px;
}

.modal__hdr_error {
	font-family: "Ubuntu";
	color: #f44336;
	margin-bottom: 10px;
	font-size: 11px;
	text-align: center;
}
.modal-container-shops{
  width: 1000px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
/* END VUE MODAL */

.valid_imnput{
	border:  solid 1px #f44336 !important;
}

.b-catalog__row:hover, .b-catalog__row.active {
  background-color: #d7ffaa;
  border-color: #000 !important;
}

.aa-order__filter {
    padding: 25px 18px 18px;
}

.order-ls__info-list li {
	height: 45px !important;
}

.offer {
	background-color: red;
	padding: 3px;
	color: #FFF;
	border-radius: 20px;
	font-weight: bold;
}

.order_div_block{
	height: 100%;
	margin-bottom: 20px;
}

.order_div_title, .order_div_txt {
	float: left;
}

.container {
	margin-bottom: 25px;
}

.v-select input[type=search], .v-select input[type=search]:focus {
	width: 10em !important;
}

.activ_sort span sup{
	font-size: 10px;
}

.in_this_category{
	color: #fff;
    background: #9fc957;
    font-weight: bold;
}

.product_tbl_header {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: "Ubuntu";
}

.product_tbl_row {
	font-size: 12px;
	font-family: "Ubuntu";
}

.product_in_this_category_true {
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-image: url(../img/yes.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 6px auto;
}

.product_in_this_category_false {
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-image: url(../img/no.png);
	background-position: center;
	background-repeat: no-repeat;
	margin: 6px auto;
}
